//- venue.jade


.with-shows
  h3 Venues w/ upcoming shows
  table
    thead
      tr
        th Venue name
        th # shows

    tbody
      each venue in venues
        tr
          td
            a(href="#/venues/#{venue.slug}")!= venue.name

          td= venue.shows.length
