//- venue.jade


.with-shows
  h3 Venues&nbsp;
    small w/ upcoming shows
  table.table
    thead
      tr
        th Venue name
        th Count
        th Next
    tbody
      each venue in venues
        tr
          td
            h4
              a(href="#/venues/#{venue.slug}")!= venue.name

          td= venue.shows.length
          td
            a(href=venue.nextLink())!= venue.next()
