// _calendar.sass



#header
  @extend .row

  .title
    @extend .small-12
    @extend .columns

@mixin date_offset($offset: 0)
  header
    @extend .small-offset-#{$offset - 1}
    @extend .large-offset-#{$offset + 1}



.calendar
  @extend .columns
  @extend .small-12
  // @extend .large-1
  margin: 0
  padding: 0


  span.month, span.day
    display: none


  // header
  //   background: whitesmoke


  .content
    display: none
    min-height: 10em


  .prev
    min-height: 12em
    @media( min-width: 320px )
      min-height: 6em
      background: red
  &.expanded
    @extend .large-12

    background: whitesmoke

    span.month, span.day
      display: inline

    margin:
      bottom: 0.2em
      top: 0.2em
    header
      padding:
        top: 1em
        bottom: 1em

    box-shadow: 0px 2px 10px #999

    .content
      display: visible
  // header, div.artists



  h3
    text-shadow: #eee 1px 1px 10px
    margin:
      left: 1ex
      bottom: 0
      top: 0
    padding:
      left: -1ex
      bottom: 0
      top: 0

    line-height: 1.4em
    // margin: 0
    // padding: 0

    // text-align: center
    span.month
      color: $primary-color
    span.day
      color: invert( $primary-color )

  &.day-mon
    @include date_offset(1)
  &.day-tue
    @include date_offset(2)
  &.day-wed
    @include date_offset(3)
  &.day-thu
    @include date_offset(4)
  &.day-fri
    @include date_offset(5)
  &.day-sat
    @include date_offset(6)
  &.day-sun
    @include date_offset(7)
