// _calendar.sass
$black: #333

#header
  @extend .row

  border:
    bottom: 3px solid invert( $primary-color )


#sitetitle, #pagetitle
  padding:
    top: 0.5em
    // bottom: 0.5em
  a
    color: $black

#sitetitle
  @extend .columns
  @extend .small-7
  @extend .large-5
  @extend .large-offset-1
  a.title
    font-family: "Cherry Cream Soda"
    float: left


#pagetitle
  @extend .columns
  @extend .small-5
  @extend .large-5
  text-align: right

@mixin count( $color: 'red' )
  span.day, span.month
    color: $color !important


  // border:
  //   color: $color
  h3
    a
      span.day
        color: $primary-color !important
      span.month
        color: $primary-color !important
// &.expanded
  //   background: $color

  //   span
  //     &.day, &.month
  //       display: visible
  //       color: grayscale( $color )

#main
  @extend .row
  @media (min-width: 768px)

    margin:
      top: 1em

    padding:
      top: 1em

  border: 1px solid #ccc
  background: $body-bg

#upcoming
  @extend .columns
  @extend .small-12
  @extend .large-5
  @extend .large-offset-5
  padding:
    top: 1em


ul#calendar
  li
    vertical-align: middle
    text-align: center

    span.day
      display: none

    &.soonish
      span.month
        display: none
      span.day
        display: inherit

    a
      font-size: 1.5em
      text-align: center
      line-height: 0.5em
      padding-top: 0.5em

    span.day
      // color: invert( $primary-color )

    span.month
      color: $primary-color

    span.date
      color: black


    &.count-0
      @include count( grayscale( $primary-color) )
      a
        color: lighten( grayscale( $primary-color), 40% ) !important

    &.count-1
      @include count( adjust-hue( $primary-color, 360deg ))
    &.count-2
      @include count( adjust-hue( $primary-color, 300deg ))
    &.count-3
      @include count( adjust-hue( $primary-color, 210deg ))
    &.count-4
      @include count( adjust-hue( $primary-color, 165deg ))

@mixin date_offset($offset: 0)
  header
    // @extend .small-offset-#{$offset - 1}
    // @extend .large-offset-#{$offset + 1}
    // @extend .right
    // @extend .small-offset-2
    @extend .columns
    text-align: right

  &.expanded
    @extend .small-10
    @extend .small-offset-1

    // background: gray

    .day-mon
      @extend .small-offset-1
      @extend .large-offset-4

    .day-tue
      @extend .small-offset-2
      @extend .large-offset-5

    .day-wed
      @extend .small-offset-3
      @extend .large-offset-6

    .day-thu
      @extend .small-offset-4
      @extend .large-offset-7

    .day-fri
      @extend .small-offset-5
      @extend .large-offset-8

    .day-sat
      @extend .small-offset-6
      @extend .large-offset-9

    .day-sun
      @extend .small-offset-7
      @extend .large-offset-10

.calendar
  @extend .columns
  @extend .small-12
  // @extend .large-1
  margin: 0
  padding: 0


  // span.month, span.day, a.menu, a.title
  //   display: none


  // header
  //   background: whitesmoke


  .content
    // display: none
    min-height: 10em


  .prev
    min-height: 12em
    @media( min-width: 320px )
      min-height: 6em
      background: red
  &.expanded
    @extend .large-12

    // background: whitesmoke

    span.month, span.day, a.title
      display: inherit

    margin:
      bottom: 0.2em
      top: 0.2em
    header
      padding:
        top: 3em
        bottom: 3em

    h3
      a.title
        font-family: "Cherry Cream Soda"
        float: left

      a.menu
        float: right

      a.menu
        display: hidden
        color: black
        margin:
          left: 0.3ex

    .content
      display: inherit
  // header, div.artists



  h3
    text-shadow: #eee 1px 1px 10px
    margin:
      // left: 1ex
      bottom: 0
      top: 0
    padding:
      left: -1ex
      bottom: 0
      top: 0

    line-height: 1.4em
    // margin: 0
    // padding: 0

    // text-align: center
    span.month
      color: $primary-color
    span.day
      color: invert( $primary-color )

  &.day-mon
    @include date_offset(1)
  &.day-tue
    @include date_offset(2)
  &.day-wed
    @include date_offset(3)
  &.day-thu
    @include date_offset(4)
  &.day-fri
    @include date_offset(5)
  &.day-sat
    @include date_offset(6)
  &.day-sun
    @include date_offset(7)
