// _footer.sass

#footer
  @extend .columns
  @extend .small-12
  @extend .large-8
  @extend .large-offset-2

  ul
    li
      ul
        margin:
          left: 0

    &.contacts
      @extend .small-block-grid-1

      list-style-type: none

      li
        line-height: 1.6em
        padding:
          // left: 0 !important
          bottom: 0

        // ul
        //   margin:
        //     left: 0 !important