extends layout

block append content
  .last-updated-wrapper
    #last-updated.last-updated

  #upcoming.upcoming.primary
    .calendar
      ul#calendar

  #featured.featured.primary
    .day
      header#day
        h3 Loading...
      .content
        .prev#prev
        .shows
          ul.shows#shows
        .next#next
