extends layout

block append content
  body.index
    #main
      header#header
        #sitetitle
          h3
            a.title(href='') Denton&comma; TX
        #pagetitle
          h3.title
            a.menu(href='#/') &#9776;
      #lastUpdated
      #upcoming.primary
        //- p.updated
        //-   | Updated&colon;
        //-   span.ago &nbsp;
        // ko if: ( days().length > 0 )
        ul#calendar.small-block-grid-7(data-bind='template: { foreach: days, name: "calendar-template" }')
        // /ko
      #featured.primary.container
        .day(data-bind='css: countClass')
          header
            h3
              span.day(data-bind='text: day') &quest;&quest;&quest;
              span.month(data-bind='text: month') &quest;&quest;&quest;
              span.date(data-bind='text: date') &quest;&quest;&quest;
          .content.row
            .prev(data-bind='if: prevDay')
              a(data-bind='attr: { href: prevDayLink }') &laquo;
            .shows(data-bind='css: countClass')
              // ko if: ( shows().length > 0 )
              ul.shows.small-block-grid-1.large-block-grid-2(data-bind='template: { name: "show-template", foreach: shows }')
              // /ko
              // ko ifnot: ( shows().length > 0 )
              p nothing here
              // /ko
            .next(data-bind='if: nextDay')
              a(data-bind='attr: { href: nextDayLink }') &raquo;
      // _footer.haml
      #footer
        ul.small-block-grid-2
          li#contact
            h6 Connect &amp; Contribute
            ul.contacts
              li
                | twitter&colon;
                a(href='http://twitter.com/bbttxu') &commat;bbttxu
              li
                | github&colon;
                a(href='http://github.com/bbttxu/denton') bbttxu&sol;denton
              li
                | docco&colon;
                a(href='/docs/app.js.html') docs&sol;
          li#about
            h6 About this site
            p.small
              | This
              a(href='https://github.com/bbttxu/denton') open-source music showlist
              | aggregates shows for Denton&comma; TX using public data

block append templates

  script#calendar-template(type='text/html')
    <li class='day' data-bind='attr: { id: id }, css: classes'>
    <a data-bind='attr: { href: link }'>
    <span class='day' data-bind='text: day'></span>
    <span class='month' data-bind='text: month'></span>
    <span class='date' data-bind='text: date'></span>
    </a>
    </li>

  script#show-template(type='text/html')
    <li>
    <div class='meta'>
    <h6>
    <a data-bind='attr: { href: source }'>
    <span class='time' data-bind='text: time'>Starts At</span>
    <span class='subhead venue' data-bind='text: venue'>Venue</span>
    <span class='price right' data-bind='text: price'>Price</span>
    </a>
    </h6>
    </div>
    <div class='artists'>
    <ul class='artists small-block-grid-1' data-bind="template: { foreach: gigs, name: 'artist-template' }"></ul>
    </div>
    </li>

  script#artist-template(type='text/html')
    <li data-bind='text: artist'>???</li>

