extends layout

block append content
  #upcoming.upcoming.primary
    .calendar
      ul#calendar

  #featured.featured.primary
    .day
      header#day
        h3 Loading...
      .content
        .prev#prev
        .shows(data-bind='css: classes')
          ul.shows#shows
        .next#next
