extends layout

block append content
  #upcoming.upcoming.primary
    .calendar
      ul#calendar

  #featured.featured.primary
    .day
      header#day
        h3
          span.day(data-bind='text: day') Day
          span.month(data-bind='text: month') Month
          span.date(data-bind='text: date') Date
      .content
        .prev#prev
        .shows(data-bind='css: classes')
          ul.shows#shows
        .next#next
