// _footer.less

@import "vendor/bootstrap-less/variables";
@import "_variables";
@import "vendor/bootstrap-less/mixins";

@sides: 1;
@center: 12 - ( 2 * @sides);

@padding: 0.2ex;

.footer {
	.make-row();
	background: @gray-lighter;

	.contact, .about {
		.make-xs-column(10);
		.make-xs-column-offset(1);
		.make-sm-column(4);
	}

	.contact {
		.make-sm-column-offset(2);
	}

	.about {
		.make-sm-column-offset(0);
	}

	padding-bottom: 3em;

	p, li {
		a {
			padding-left: @padding;
			padding-right: @padding;
		}
	}

  body.night & {
    background: @gray-darker;
  }
}
