@import "vendor/bootstrap-less/variables";
@import "_variables";
@import "vendor/bootstrap-less/mixins";

#header, .header {
	.make-row();

  font-family: "Cherry Cream Soda";
	overflow: auto;
	border-bottom: 3px solid @brand-warning;
	@media(min-width: @screen-xs-max) {
		padding-top: 1em;
	}
}


.sitetitle, .pagetitle {
	// .make-sm-column(5);
}

.sitetitle {
	.make-xs-column(6);
	.make-xs-column-offset(1);
}
.pagetitle {
	.make-xs-column(4);
	text-align: right;
}