@import "vendor/bootstrap-less/variables";
@import "_variables";
@import "vendor/bootstrap-less/mixins";

@import "_bootstrap";

@import "_header";
@import "_calendar";
@import "_featured";
@import "_footer";

body {
	background: @gray-lighter;
	// .container-fixed();
	@media (min-width: @screen-sm-min) {
		background: @gray-light;
	}
	// .container-fixed();
}

.wrapper {
	.container-fixed();

	// http://stackoverflow.com/a/20532235
	@media (min-width: @screen-sm) {
    width: @container-sm;
  }
  @media (min-width: @screen-md) {
    width: @container-md;
  }
  @media (min-width: @screen-lg-min) {
    width: @container-lg;
  }
}

// .row {
// 	.make-xs-column(12);
// }

#main {
	background: white;
	.make-xs-column(12);

	@media(min-width: @screen-xs-max) {
		margin-top: 3em;
		margin-bottom: 3em;
		box-shadow: 2px 4px 8px @gray;
	}
}

#upcoming {
	.make-row();
}

a {
	text-decoration: none !important;
}