@import "vendor/bootstrap-less/variables";
@import "_variables";
@import "vendor/bootstrap-less/mixins";

@import "_bootstrap";

@import "_header";
@import "_calendar";
@import "_featured";
@import "_footer";

body {
	background: @gray-lighter;
	// .container-fixed();
}

#main {
	background: white;

	@media(min-width: @screen-xs-max) {
		margin-top: 3em;
		box-shadow: 2px 4px 8px #999;
	}
}

#upcoming {
	.make-row();
}

.h1, .h2, .h3 {
  font-family: "Cherry Cream Soda";
}