/ _footer.haml

#footer
  %ul.small-block-grid-2

    %li#contact
      %h6 Connect &amp; Contribute
      %ul.contacts
        %li
          twitter:
          = link_to( "@bbttxu", "http://twitter.com/bbttxu")

        %li
          github:
          = link_to( "bbttxu/denton", "http://github.com/bbttxu/denton")

        %li
          docco:
          = link_to( "docs/", "/docs/app.js.html")

    %li#about
      %h6 About this site
      %p.small
        This
        = link_to 'open-source music showlist', "https://github.com/bbttxu/denton"
        aggregates shows for Denton, TX using public data
