---
title: Middleman is Watching
body_class: index
---

#calendar( data-bind="foreach: calendar" )
  .calendar( data-bind="attr: { id: id }, css: count_class" )
    %h4
      %span.day( data-bind="text: day" )
      %span.month( data-bind="text: month" )
      %span.date( data-bind="text: date" )
    %ul(data-bind="foreach: { data: count, as: 'show' }")
      %li(data-bind="text: id")
