---
title: d, tx | BBTTXU
body_class: index
---
.row
  .small-12.columns
    #calendar( data-bind="template: { foreach: calendar, name: 'day-template' }" )

%script#day-template( type="text/html")
  .calendar( data-bind="attr: { id: id }, css: count_class" )
    %h4
      %span.day( data-bind="text: day" )
      %span.month( data-bind="text: month" )
      %span.date( data-bind="text: date" )
    .content
      .small-1.columns.prev
        %p &larr;
      .small-10.columns
        %ul.small-block-grid-2.large-block-grid-3.shows(data-bind="template: { foreach: count, as: 'show', name: 'show-template' }")

      .small-1.columns.next
        %p &rarr;

%script#show-template( type="text/html")
  %li
    .show
      %h3(data-bind="text: venue.name")
      %ul.small-block-grid-1.artists( data-bind="template: { foreach: artists, name: 'artist-template' }")

%script#artist-template( type="text/html")
  %li(data-bind="text: name")
