---
title: d, tx | BBTTXU
body_class: index
---
#main
  %header#header
    #sitetitle
      %h3
        %a.title( href="#/" ) Denton, TX
    #pagetitle
      %h3.title
        %a.title( href="#/" ) Calendar

  #upcoming
    %ul#calendar.small-block-grid-7( data-bind="template: { foreach: days, name: 'day-template' }" )

  #day
    .calendar
      %header
        %h3
          %span.day( data-bind="text: day" ) ???
          %span.month( data-bind="text: month" ) ???
          %span.date( data-bind="text: date" ) ???

          %a.menu( href="#/" ) &#9776;
      .content
        .prev( data-bind="'if': prevDay" )
          %a( data-bind="attr: { href: prevDayLink }" ) &laquo;
        .shows
          %ul.shows.small-block-grid-1.large-block-grid-2(data-bind="foreach: shows")
            %li
              %div.meta
                %h6
                  %span.time(data-bind="text: time" ) Starts At
                  %span.subhead.venue(data-bind="text: venue") Venue
                  %span.price.right( data-bind="text: price" ) Price

              .artists
                %ul.artists.small-block-grid-1( data-bind="template: { foreach: gigs, name: 'artist-template' }")

        .next( data-bind="if: nextDay" )
          %a( data-bind="attr: { href: nextDayLink }" ) &raquo;

%script#day-template( type="text/html")
  %li.day( data-bind="attr: { id: id }, css: classes" )
    %a( data-bind="attr: { href: link }" )!
      %span.day( data-bind="text: day")!
      %span.month( data-bind="text: month")!
      %span.date( data-bind="text: date")!

%script#artist-template( type="text/html")
  %li(data-bind="text: artist") ???


/ %script#show-template( type="text/html")
/   %li
/     %div.meta
/       %h6
/         %span.time(data-bind="text: moment( show.starts_at ).format('ddd, hA') " ) ???
/         %span.subhead.venue(data-bind="text: venue.name") ???
/         %span.price.right( data-bind="text: show.price" ) ???

/     .artists
/       %ul.artists.small-block-grid-1( data-bind="template: { foreach: artists, name: 'artist-template' }")
