---
title: d, tx | BBTTXU
body_class: index
---
#calendar.row( data-bind="template: { foreach: calendar, name: 'day-template' }" )

%script#day-template( type="text/html")
  .calendar( data-bind="attr: { id: id }, css: count_class" )
    %h4
      %span.day( data-bind="text: day" )
      %span.month( data-bind="text: month" )
      %span.date( data-bind="text: date" )
    .content
      .prev
        %p &lfloor;
      .shows
        %ul.shows(data-bind="template: { foreach: count, as: 'show', name: 'show-template' }")

      .next
        %p &rceil;

%script#show-template( type="text/html")
  %li
    .show
      %h3(data-bind="text: venue.name")
      %ul.small-block-grid-1.artists( data-bind="template: { foreach: artists, name: 'artist-template' }")

%script#artist-template( type="text/html")
  %li(data-bind="text: name")
